/* INFO
Name: CSS Apple Website Study
File: Style for index.html
Author: Bradley Salvatore
 */

/* ******* ******* ******* ******* ******* ******* ******* 
UNIVERSAL 
******* ******* ******* ******* ******* ******* ******* */
html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
    font-size: 10px;
    box-sizing: border-box;
    --main-link-color: #06c;
    --main-button-color: #0071e3;
    --main-button-color-hover: #0077ED;
    --global-nav-background-color: rgb(0, 0, 0, 0.84);
    --global-nav-item-color: #f5f5f7;
    --global-nav-item-color-hover: white;
    --ad-background-color: #f5f5f7;
    --ad-text-color: #1d1d1f;    
}

html, body, ul {
    margin: 0px;
    padding: 0px;
}

/* ******* ******* ******* ******* ******* ******* ******* 
RE-USABLE COMPONENTS 
******* ******* ******* ******* ******* ******* ******* */

/* MAIN BUTTON ________________________________________________________________________________ */
.main-button {
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 980px;
    color: white;
    background-color: var(--main-button-color) ;
    text-align: center;
    padding: 8px 16px;
    border: none;
    margin: 23px 14px 60px 14px;
}

.main-button:hover {
    background-color: var(--main-button-color-hover);
}

/* MAIN LINK ________________________________________________________________________________ */
.main-link {
    margin: 3px 14px 60px 14px;
    font-size: 2.1rem;
    color: var(--main-link-color);
    text-decoration: none;
}

.main-link-text:hover {
    text-decoration: underline;
}

.main-link-icon {
    font-size: 2.1rem;
    color: var(--main-link-color);
}

/* TERMS & CONDITIONS LINK ________________________________________________________________________________ */
.terms-and-conditions-link {
    text-decoration: none;
    color: inherit;
    font-size: 0.8em;
}

.terms-and-conditions-link:hover {
    color: var(--main-link-color);
}

/* ******* ******* ******* ******* ******* ******* ******* 
NAVIGATION 
******* ******* ******* ******* ******* ******* ******* */

/* GLOBAL NAVIGATION ________________________________________________________________________________ */
.global-nav-wrapper {
    height: 44px;
    position: relative;
    background-color: var(--global-nav-background-color);
}

.global-nav-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    margin: auto;
}

.global-nav-item-container > li {
    width: auto;
    list-style: none;
}

.global-nav-item-link {
    color: var(--global-nav-item-color);
    text-decoration: none;
    letter-spacing: .01em;
    font-size: 1.2rem;
    font-weight: 400;
}

.global-nav-item-link:hover {
    animation-name: global-nav-item-link-hover;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes global-nav-item-link-hover {
    100% {
        color: var(--global-nav-item-color-hover);
    }
}

.global-nav-icon-apple {
    background-size: 14px 44px;
    background-repeat: no-repeat;
    background-image: url(images/globalnav_apple_image_large.svg);
    background-position: center center;
    width: 14px;
    height: 44px;
}

.global-nav-item-container .global-nav-icon {
    height: 43px;
    width: 20px;
}

.global-nav-icon.search {
    background-image: url(images/globalnav_search_image_large.svg);
    background-position: top center;
    background-repeat: no-repeat;
}

.global-nav-icon.shopping-bag {
    background-image: url(images/globalnav_bag_image_large.svg);
    background-repeat: no-repeat;
}

/* CHAPTER NAVIGATION ______________________________________________________________________________ */
.chapter-nav-wrapper {
    height: 100px;

}

.chapter-nav-item-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    width: 70%;
    margin: auto;
    padding: 10px 0 0 0;
}

.chapter-nav-item {
    list-style: none;
    width: 54px;
}

.chapter-nav-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    color:#1d1d1f;
}

.chapter-nav-link:hover {
    color: var(--main-link-color);
}

.chapter-nav-new {
    font-size: 1rem;
    color: #bf4800;
}

.chapter-nav-icon {
    height: 54px;
    background: center bottom no-repeat;
    margin-bottom: 7px;
}

.chapter-nav-iphone-13-pro {
    background-image: url(images/iphone_13_pro_light__ds4kck27sw02_large.svg);
    background-size: 38px 54px;
    width: 38px;
}

.chapter-nav-iphone-13 {
    background-image: url(images/iphone_13_light__e8rinsezkn22_large.svg);
    background-size: 36px 54px;
    width: 36px;
}

.chapter-nav-iphone-12 {
    background-image: url(images/iphone_12_light__c4p31z6j53ki_large.svg);
    background-size: 36px 54px;
    width: 36px;
}

.chapter-nav-iphone-se {
    background-image: url(images/iphone_se_light__fpqqidn3yaaa_large.svg);
    background-size: 19px 54px;
    width: 19px;
}

.chapter-nav-iphone-11 {
    background-image: url(images/iphone_11_light__ciapx3n8axea_large.svg);
    background-size: 22px 54px;
    width: 22px;
}

.chapter-nav-compare {
    background-image: url(images/iphone_compare_light__cm99su89sope_large.svg);
    background-size: 45px 54px;
    width: 45px;
}

.chapter-nav-airpods {
    background-image: url(images/airpods_light__d6gyy84we4eq_large.svg);
    background-size: 27px 54px;
    width: 27px;
}

.chapter-nav-airtag {
    background-image: url(images/airtag_light__fwgexpp60bqm_large.svg);
    background-size: 30px 54px;
    width: 30px;
}

.chapter-nav-accessories {
    background-image: url(images/accessories_light__e4v7pj8sxi0y_large.svg);
    background-size: 35px 54px;
    width: 35px;
}

.chapter-nav-apple-card {
    background-image: url(images/iphone_apple_card_light__gm5zaz1tusuq_large.svg);
    background-size: 36px 54px;
    width: 36px;
}

.chapter-nav-ios-15 {
    background-image: url(images/iphone_ios_light__fp1villtuju6_large.svg);
    background-size: 32px 54px;
    width: 32px;
}

.chapter-nav-shop-iphone {
    background-image: url(images/shop_iphone_light__c6jevvf5ecya_large.svg);
    background-size: 60px 54px;
    width: 60px;
}

/* ******* ******* ******* ******* ******* ******* ******* 
MAIN CONTENT 
******* ******* ******* ******* ******* ******* ******* */
.main-container {
    background-color: #f5f5f7;
}
/* HERO ADVERTISEMENT _____________________________________________________________________________ */
.hero-ad-container {
    height: 34px;
    font-size: 1rem;
    width: auto;
    background-color: var(--ad-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ad-text-color);
}



#ad-link, #ad-link-icon {
    font-size: 1rem;
    margin: 0;
}

/* SESION: HERO _____________________________________________________________________________ */
.hero-wrapper {
    background-color: white;
    margin-bottom: 15px;
}

.section-container-center {
    width: 1412px;
    margin: auto;
    text-align: center;
    position: relative;
    font-size: 2.1rem;
}

.hero-container {
    height: 810px;
    padding: 50px 0 0 0; 
}

.section-slogan {
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.08em;
    margin: 15px;
}

.section-title {
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: -0.02rem;
}

.hero-image {
    background-image: url(images/iphone_13_pro__en2q051lfus2_large_2x.jpg);
    width: 819px;
    height: 515px;
    background-size: 819px 515px;
    background-repeat: no-repeat;
    position: relative;
    left: 20%;
    bottom: 4%;
}

/* SECTION: SUBHERO _____________________________________________________________________________ */
.subhero-wrapper {
    background-color: #122239;
    color: white;
}

.subhero-container {
    padding: 50px 0 0 0; 
}

.subhero-title {
    font-size: 4.8rem;
}

.superpower-image {
    background-image: url(images/iphone_13__fc54ap6asium_large_2x.jpg);
    width: 1508px;
    height: 372px;
    background-size: 1508px 372px;
    background-repeat: no-repeat;
    background-position: right 40%;
    position: relative;
    left: 50%;
    margin-left: -754px;
}

/* Section: Guided Tour _____________________________________________________________________________ */
.section-guided-tour-bg-container{
    display: flex;
    justify-content: center;
    color: white;
}

.section-guided-tour-bg {
    background-image: url(images/guided_tour__efq13m207wae_large_2x.jpg);
    width: 1412px;
    height: 814px;
    background-size: 1412px 814px;
    background-repeat: no-repeat;
    margin: 15px 0 0 0;
    border-radius: 34px;
}

.section-guided-content-container {
    height: 814px;
    margin: 0 0 0 230px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.guided-tour-title {
    font-size: 19px;
}

.guided-tour-heading {
    font-size: 44px;
    font-weight: 600px;
    margin: 0;
}

.guided-tour-watch-button {
    cursor: pointer;
    font-size: 17px;
    border-radius: 980px;
    color: black;
    text-align: center;
    padding: 8px 16px;
    border: none;
    margin: 23px 14px 60px 0px;
    background-color: white;
}

/* SECTION: GIFT_____________________________________________________________________________ */
.container-flex-center {
    background-color: #e8f6f5;
    width: 1412px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.section-logo-gift {
    background-image: url(images/hol21_apple_gift_logo__f7mey7qkm6qi_large_2x.png);
    background-repeat: no-repeat;
    width: 61px;
    height: 76px;
    background-size: 61px 76px;
    margin: 40px 0 16px 0;
}

.gift-image-container {
    display: flex;
    justify-content: space-around;
}

.section-image-gift {
    background-image: url(images/aos_hol21_gy_iphone_family_banner__c186zgs9l0k2_large_2x.jpg);
    background-repeat: no-repeat;
    width: 929px;
    height: 259px;
    background-size: 929px 259px;
    margin-bottom: 60px;
}

/* SECTION: RESEARCH _____________________________________________________________________________ */
.section-research-app {
    background-color: white;
    height: 475px;
    background-size: 766px 388px;
    background-repeat: no-repeat;
    background-image: url(images/apple-research__8dl3zdlp2iqy_large.jpg);
    background-position: bottom right 50px;
}

.section-content-container-left {
    display: flex;
    flex-direction: column;
    height: 475px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 80px;
}

.research-app-slogan {
    margin: 150px 0 20px 0;
}


/* ******* ******* ******* ******* ******* ******* ******* 
FOOTER 
******* ******* ******* ******* ******* ******* ******* */


.global-footer {
    background-color: #f5f5f7;
    font-size: 12px;
    color: #6e6e73;
}

.footer-terms-conditions-list {
    padding-left: 18px;
}

.global-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-bottom: 1px solid #d2d2d7;
    padding: 10px 0 20px 0;
}

.global-footer-terms-conditions-container {
    width: 980px;
}

.global-footer-terms-conditions {
    border-bottom: 1px solid #d2d2d7;
    padding: 0 0 20px 0;
}

.footer-iphone {
    margin: 0 0 0 0;
}

.global-footer-link-list-container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.global-footer-link-column {
    width: 196px;
}

.global-footer-link-list-title {
    font-weight: bold;
    margin: 25px 0 0 0;
}
#global-footer-link-list-title {
    margin: 0px;
}

.global-footer-list {
    list-style: none;
    padding-left: 0;
}

.global-footer-list > li  {
    margin: 10px 0 10px 0;
}

.global-footer-list > li > a {
    text-decoration: none;
    color: #424245;
    font-size: 12px;
}

.global-footer-list > li > a:hover {
    text-decoration: underline;
}

.global-footer-link-more-ways {
    color: #0071e3;
    text-decoration: none;
}

.global-footer-link-more-ways:hover {
    text-decoration: underline;
}


.global-footer-more-ways {
    border-bottom: 1px solid #d2d2d7;
}

.global-footer-copyright-container {
    display: flex;
    justify-content: space-between;
}

.copyright-item {
    margin: 15px 0 25px 0;
}

.copyright-link-block {
    width: 450px;
    align-content: center;
    margin-right: 170px;
}

.copyright-link-container {
    display: flex;
    justify-content: space-between;
}

.copyright-link {
    padding: 0 10px 0 10px;
}

.copyright-link-border {
    border-left: 1px solid #d2d2d7;
}

.copyright-title {
    width: 270px;
}